API_BASE_URL=http://10.0.2.2:4000/api/v1
FIREBASE_ENABLED=true

REVENUECAT_API_KEY_ANDROID=
REVENUECAT_API_KEY_IOS=
REVENUECAT_ENTITLEMENT_ID=premium
REVENUECAT_OFFERING_ID=default
REVENUECAT_PACKAGE_ID=monthly

ADMOB_APP_ID_ANDROID=ca-app-pub-3940256099942544~3347511713
ADMOB_APP_ID_IOS=ca-app-pub-3940256099942544~1458002511
ADMOB_BANNER_UNIT_ID_ANDROID=ca-app-pub-3940256099942544/6300978111
ADMOB_BANNER_UNIT_ID_IOS=ca-app-pub-3940256099942544/2934735716
